body {
    font-family: "Segoe UI",Arial,sans-serif !important;
}

.navbar {
    padding-right: 40px;
    margin-bottom: 0;
    opacity: .8;
}


.navbar li { 
    color: #000;
    font-weight: bold;
}

header {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

.heading {
    white-space: nowrap;
    position: absolute;
    color: #000;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px 32px;
    background-color: #f8f8f8 !important;
    font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
    opacity: .9;
}

h2:after {
    width: 100px;
    height: 2px;
    background-color: darkgray;
    display: block;
    content: "";
    margin: auto;
    margin-top: 20px;
}

section {
    padding-bottom: 40px;
    margin-bottom: 40px;
}

section h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

section h3 {
    margin-top: 0;
    text-align: center;
}


.bg-gray {
    background-color: #f6f6f6;
}

.glyphicon {
    display: block;
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: #505256;
}


.contact-section a {
    text-decoration: none;
    color: black;
}

.top-padding {
    padding-top: 30px;
}

.col-sm-3 img {
    opacity: .7;
    margin-bottom: 20px;
}

.col-sm-3 img:hover {
    box-shadow: 0 1px 8px black;
    opacity: 1;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-fluid img { 
    padding-top: 50px;
    width: 90%;
    max-height: 100vh; 
    margin: 0 auto;
    background-color: white;
}